In [34]:
import pandas as pd
import sqlite3 
import nltk
import re
from nltk import word_tokenize
from nltk.corpus import stopwords 
from nltk.stem import WordNetLemmatizer
from string import punctuation 
import string
import numpy as np
import re

# Importing datasets from SQLite

In [35]:
# INSERT YOUR DATABASE NAME HERE
conn = sqlite3.connect('<YOUR DATABASE>')
cur = conn.cursor()

In [36]:
dfusers=pd.read_sql_query('''SELECT id as users_id, username, doctor, age, sex, member_since, location FROM Users''', conn)
dfusers.head()

,users_id,username,doctor,age,sex,member_since,location
0,1,Worm99,NaN,NaN,None,2007-01-01 00:00:00,None
1,2,Forum-OD-MP,NaN,NaN,None,2005-11-01 00:00:00,None
2,3,krysejens,NaN,NaN,None,2009-11-01 00:00:00,None
3,4,"Sandra M Brown, MD",1.0,NaN,Female,None,"Concord, NC"
4,5,Sigris,NaN,NaN,None,2010-03-01 00:00:00,None

In [37]:
# Total number of users
len(dfusers)

99

In [38]:
# CHOOSE 1 FOR DOCTORS; 0 FOR PATIENTS
dfptusers=dfusers[dfusers['doctor']==1]
dfptusers.head()

,users_id,username,doctor,age,sex,member_since,location
3,4,"Sandra M Brown, MD",1.0,NaN,Female,None,"Concord, NC"
10,11,"Christopher C Shen, MD",1.0,NaN,Male,None,"Las Vegas, NV"
13,14,"John C Hagan III, MD, FACS, FAAO",1.0,NaN,Male,None,"Kansas City, MO"
15,16,"Sandy Feldman, MD, MS",1.0,NaN,Female,None,"San Diego, CA"
17,18,"Michael J Kutryb, MD",1.0,NaN,Male,None,"Titusville, FL"

In [39]:
# Total number of patients or doctors
len(dfptusers)

10

In [40]:
# Get summary of all posts
dfposts=pd.read_sql_query('''SELECT Posts.id, Posts.threads_id, Posts.users_id, Posts.number, Posts.content, Posts.date, Posts.sent_score, Posts.label FROM Posts INNER JOIN Threads ON (Posts.threads_id = threads.id)''', conn)
dfposts.head()

,id,threads_id,users_id,number,content,date,sent_score,label
0,1,1,1,0,"\n Hi everyone,\r I suffer from...",2007-01-16 00:00:00,-0.364303,negative
1,2,1,2,1,\n you need a specialist. probably...,2007-01-16 00:00:00,-0.880506,negative
2,3,2,3,0,\n I am new to Las Vegas and am...,2009-11-11 15:51:35,0.593613,positive
3,4,2,4,1,\n Go to www.aao.org and search for...,2009-11-11 19:42:07,0.000000,neutral
4,5,3,5,0,\n My sons right eye has recede...,2010-03-20 17:41:13,-0.677034,negative

In [41]:
# Total number of posts
len(dfposts)

223

In [42]:
# Posts from patients or doctors
dfptposts=pd.merge(left=dfptusers[['users_id','username']], right=dfposts, how='inner', left_on='users_id', right_on='users_id')
dfptposts.head(50)

,users_id,username,id,threads_id,number,content,date,sent_score,label
0,4,"Sandra M Brown, MD",4,2,1,\n Go to www.aao.org and search for...,2009-11-11 19:42:07,0.000000,neutral
1,4,"Sandra M Brown, MD",6,3,1,\n Your son should be evaluated by ...,2010-03-30 17:07:23,0.860021,positive
2,4,"Sandra M Brown, MD",8,4,1,\n Is it on your eyeBALL or on your...,2010-01-28 08:17:25,-0.864718,negative
3,4,"Sandra M Brown, MD",10,5,1,\n You have ptosis. Obviously ptosi...,2009-11-05 17:03:54,-0.760373,negative
4,4,"Sandra M Brown, MD",12,6,1,\n It sounds like the muscle that m...,2010-09-27 15:34:02,-0.323683,negative
5,4,"Sandra M Brown, MD",15,7,1,\n Ptosis can be corrected with sur...,2009-11-05 14:30:35,0.000000,neutral
6,4,"Sandra M Brown, MD",26,12,1,\n This sounds like congenital obst...,2010-06-23 19:42:02,-0.291884,negative
7,4,"Sandra M Brown, MD",32,15,1,\n Your eyeball is not smaller if i...,2010-08-15 08:40:17,-0.685404,negative
8,4,"Sandra M Brown, MD",55,23,1,\n Your question cannot be answered...,2010-06-16 21:43:59,-0.910491,negative
9,4,"Sandra M Brown, MD",63,27,1,\n I think at this point you need a...,2010-09-27 16:40:38,0.700008,positive
10,4,"Sandra M Brown, MD",79,32,1,\n I would suggest that you see an ...,2010-06-25 06:14:14,0.000000,neutral
11,4,"Sandra M Brown, MD",99,40,1,\n Your question is not stated that...,2010-03-15 08:01:27,-0.719094,negative
12,4,"Sandra M Brown, MD",125,48,1,\n You do need to see an oculoplast...,2010-09-27 16:04:44,-0.410355,negative
13,4,"Sandra M Brown, MD",129,49,1,\n You are assuming it is salt inta...,2010-06-01 16:32:18,0.329641,positive
14,11,"Christopher C Shen, MD",17,8,1,\n You should seek the opinion of a...,2012-05-27 15:54:11,0.769327,positive
15,11,"Christopher C Shen, MD",36,17,1,\n The most common cause of proptos...,2012-11-28 14:18:22,-0.633835,negative
16,11,"Christopher C Shen, MD",38,17,3,\n The oculoplastics surgeon will d...,2012-11-29 08:20:17,0.844214,positive
17,11,"Christopher C Shen, MD",45,20,1,"\n Could be fluid, fatty tissue, or...",2012-12-12 17:25:26,-0.443787,negative
18,11,"Christopher C Shen, MD",48,21,1,\n I would go see an oculoplastics ...,2012-07-03 13:41:39,-0.852659,negative
19,11,"Christopher C Shen, MD",50,21,3,\n There is a superficial layer of ...,2012-07-04 13:44:29,-0.569403,negative
20,11,"Christopher C Shen, MD",107,42,1,\n Pthisis bulbi refers to a degene...,2012-06-26 15:22:00,0.000000,neutral
21,14,"John C Hagan III, MD, FACS, FAAO",20,9,2,\n -\n,2011-01-29 11:58:10,0.000000,neutral
22,14,"John C Hagan III, MD, FACS, FAAO",57,24,1,\n If it was highly suspicious or f...,2012-02-17 21:58:06,-0.612679,negative
23,14,"John C Hagan III, MD, FACS, FAAO",65,28,1,\n No it is not reversible in most ...,2008-10-25 23:27:59,-0.524646,negative
24,14,"John C Hagan III, MD, FACS, FAAO",72,30,3,\n Suggest you see a glaucoma speci...,2009-04-25 19:57:34,-0.901771,negative
25,14,"John C Hagan III, MD, FACS, FAAO",74,30,5,\n Dial in a third opinion.\r JCH M...,2009-04-25 22:30:38,0.000000,neutral
26,14,"John C Hagan III, MD, FACS, FAAO",86,35,1,\n 1. See a different Eye MD one th...,2008-10-23 21:36:51,0.000000,neutral
27,14,"John C Hagan III, MD, FACS, FAAO",91,36,2,\n If the eyelid blocks part of you...,2010-05-05 21:19:29,0.723337,positive
28,14,"John C Hagan III, MD, FACS, FAAO",93,37,1,\n Ideally your surgeon is a Eye MD...,2009-04-20 08:08:45,0.467546,positive
29,14,"John C Hagan III, MD, FACS, FAAO",95,37,3,\n Charles Manson has been on TV al...,2009-04-20 21:55:58,0.000000,neutral
30,14,"John C Hagan III, MD, FACS, FAAO",103,41,2,\n It is very unlikely that you've ...,2008-04-16 16:56:30,-0.921522,negative
31,14,"John C Hagan III, MD, FACS, FAAO",105,41,4,\n An ophthalmologist or Eye MD phy...,2008-04-16 23:21:14,0.436190,positive
32,14,"John C Hagan III, MD, FACS, FAAO",147,52,1,\n I suspect the NO at Wills will s...,2013-03-17 14:18:01,-0.463765,negative
33,14,"John C Hagan III, MD, FACS, FAAO",149,52,3,\n 1. I can't help you on either qu...,2014-06-08 11:38:32,-0.532447,negative
34,14,"John C Hagan III, MD, FACS, FAAO",151,52,5,\n Probably to gin up litigation \r...,2014-06-09 07:48:56,0.000000,neutral
35,14,"John C Hagan III, MD, FACS, FAAO",167,55,2,"\n No sorry, I'm not an insurance e...",2008-01-05 17:50:28,-0.324380,negative
36,14,"John C Hagan III, MD, FACS, FAAO",171,55,6,\n You can find an oculoplastic Eye...,2008-01-05 22:50:32,-0.459630,negative
37,14,"John C Hagan III, MD, FACS, FAAO",173,55,8,\n With cataract surgery it is near...,2008-01-06 12:35:31,-0.522582,negative
38,14,"John C Hagan III, MD, FACS, FAAO",176,55,11,\n Your question cannot be answered...,2014-02-23 11:45:06,0.289982,positive
39,14,"John C Hagan III, MD, FACS, FAAO",193,58,1,\n No CSF would not cause it. And i...,2013-02-03 13:41:54,-0.276665,negative
40,14,"John C Hagan III, MD, FACS, FAAO",195,58,3,\n If you've been to two oculoplast...,2013-02-04 08:31:09,-0.586156,negative
41,14,"John C Hagan III, MD, FACS, FAAO",197,58,5,\n You also need to see an oculopla...,2013-12-19 18:04:19,0.000000,neutral
42,14,"John C Hagan III, MD, FACS, FAAO",199,59,1,\n You will have to decide whether ...,2008-01-10 12:35:35,-0.640997,negative
43,14,"John C Hagan III, MD, FACS, FAAO",203,59,5,\n I disagree strongly with Giveypu...,2008-03-16 22:49:08,0.519670,positive
44,14,"John C Hagan III, MD, FACS, FAAO",205,59,7,\n ----------------------\n,2008-03-18 00:04:45,0.000000,neutral
45,14,"John C Hagan III, MD, FACS, FAAO",207,59,9,\n -----------------------\n,2008-03-19 23:12:15,0.000000,neutral
46,14,"John C Hagan III, MD, FACS, FAAO",211,59,14,\n to redjoy55. Discuss with your s...,2008-10-12 18:51:42,0.000000,neutral
47,14,"John C Hagan III, MD, FACS, FAAO",213,59,16,\n Same advice. Look for an oculopl...,2011-06-26 21:38:08,0.000000,neutral
48,14,"John C Hagan III, MD, FACS, FAAO",218,60,4,"\n Hi, I have the same type of issu...",2018-04-10 17:34:53,-0.556460,negative
49,16,"Sandy Feldman, MD, MS",22,10,1,"\n Dear CarlyS,\r There are surgica...",2009-01-26 16:19:48,0.692690,positive

In [43]:
# Total posts from patients or doctors
len(dfptposts)

77

In [44]:
# Get keyword scores
dftargetedsent=pd.read_sql_query('''SELECT * FROM KeywordsScores''', conn)
dftargetedsent.head(15)

,posts_id,keywords_id,sent_score,relevance,sadness_score,joy_score,fear_score,disgust_score,anger_score
0,1,1,-0.504713,0.645569,0.341329,0.071254,0.316608,0.232325,0.003045
1,1,2,0.000000,0.638464,0.159982,0.529674,0.094432,0.052398,0.026757
2,1,3,0.000000,0.629403,0.263028,0.275554,0.262074,0.081493,0.048659
3,1,4,0.965996,0.603728,0.279632,0.114120,0.182594,0.116771,0.051658
4,1,5,0.965996,0.573643,0.167237,0.594232,0.061398,0.018594,0.017416
5,1,6,-0.796117,0.571338,0.167237,0.594232,0.061398,0.018594,0.017416
6,1,7,0.000000,0.561941,0.174765,0.065790,0.184985,0.125459,0.137143
7,1,8,-0.796117,0.561113,0.577171,0.515473,0.264536,0.077507,0.068880
8,1,9,-0.504713,0.559001,0.224792,0.063617,0.206331,0.024208,0.066890
9,1,10,-0.504713,0.540631,0.224792,0.063617,0.206331,0.024208,0.066890
10,1,11,-0.796117,0.528532,0.548953,0.069730,0.378037,0.109242,0.134606
11,1,12,0.000000,0.515818,0.224792,0.063617,0.206331,0.024208,0.066890
12,1,13,0.944662,0.513047,0.159982,0.529674,0.094432,0.052398,0.026757
13,1,14,-0.750558,0.513047,0.174765,0.065790,0.184985,0.125459,0.137143
14,1,15,0.000000,0.513047,0.224792,0.063617,0.206331,0.024208,0.066890

In [45]:
# Add labels
conditions = [
    (dftargetedsent['sent_score'] == 0),
    (dftargetedsent['sent_score'] > 0 ),
    (dftargetedsent['sent_score'] < 0 )]
choices = ['neutral', 'positive', 'negative']
dftargetedsent['label'] = np.select(conditions, choices, default=' ')

In [46]:
dftargetedsent.head(20)

,posts_id,keywords_id,sent_score,relevance,sadness_score,joy_score,fear_score,disgust_score,anger_score,label
0,1,1,-0.504713,0.645569,0.341329,0.071254,0.316608,0.232325,0.003045,negative
1,1,2,0.000000,0.638464,0.159982,0.529674,0.094432,0.052398,0.026757,neutral
2,1,3,0.000000,0.629403,0.263028,0.275554,0.262074,0.081493,0.048659,neutral
3,1,4,0.965996,0.603728,0.279632,0.114120,0.182594,0.116771,0.051658,positive
4,1,5,0.965996,0.573643,0.167237,0.594232,0.061398,0.018594,0.017416,positive
5,1,6,-0.796117,0.571338,0.167237,0.594232,0.061398,0.018594,0.017416,negative
6,1,7,0.000000,0.561941,0.174765,0.065790,0.184985,0.125459,0.137143,neutral
7,1,8,-0.796117,0.561113,0.577171,0.515473,0.264536,0.077507,0.068880,negative
8,1,9,-0.504713,0.559001,0.224792,0.063617,0.206331,0.024208,0.066890,negative
9,1,10,-0.504713,0.540631,0.224792,0.063617,0.206331,0.024208,0.066890,negative
10,1,11,-0.796117,0.528532,0.548953,0.069730,0.378037,0.109242,0.134606,negative
11,1,12,0.000000,0.515818,0.224792,0.063617,0.206331,0.024208,0.066890,neutral
12,1,13,0.944662,0.513047,0.159982,0.529674,0.094432,0.052398,0.026757,positive
13,1,14,-0.750558,0.513047,0.174765,0.065790,0.184985,0.125459,0.137143,negative
14,1,15,0.000000,0.513047,0.224792,0.063617,0.206331,0.024208,0.066890,neutral
15,1,16,-0.504713,0.442320,0.224792,0.063617,0.206331,0.024208,0.066890,negative
16,1,17,0.000000,0.419936,0.056665,0.760479,0.026331,0.008596,0.042070,neutral
17,2,18,-0.574680,0.939175,0.250874,0.362959,0.202327,0.121311,0.076745,negative
18,2,19,-0.793959,0.811495,0.402934,0.220477,0.402950,0.015699,0.001586,negative
19,2,15,-0.793959,0.567687,0.402934,0.220477,0.402950,0.015699,0.001586,negative

# Process keywords

In [47]:
dfkeywords=pd.read_sql_query('SELECT * FROM Keywords', conn)
display(dfkeywords.head(10));

   id                             name
0   1                  type of surgery
1   2               regular eye doctor
2   3                       eye doctor
3   4  aesthetic appearance of the eye
4   5                           vision
5   6                     shrunken eye
6   7                   scleral shells
7   8                              eye
8   9                            issue
9  10                           patent

In [48]:
# Remove punctuation 
exclude = set(string.punctuation)

def remove_punctuation(x):
    try:
        x = ''.join(ch for ch in x if ch not in exclude)
    except:
        pass
    return x

dfkeywords['kwlower']=dfkeywords['name'].apply(lambda x: x.lower())
dfkeywords['kwnopunc']=dfkeywords['kwlower'].apply(remove_punctuation)

In [49]:
dfkeywords['kwtoken']=dfkeywords['kwnopunc'].apply(lambda x: word_tokenize(x))
stop_words=set(stopwords.words('english')) 
dfkeywords['kwnostop']=dfkeywords['kwtoken'].apply(lambda x: [w for w in x if not w in stop_words])
lemmatizer  = WordNetLemmatizer() 
dfkeywords['kwlemma']=dfkeywords['kwnostop'].apply(lambda x: [lemmatizer.lemmatize(w) for w in x])

In [50]:
# Keyword transformation
import re

# This example function would transform keywords containing all regular 
# expressions (*lid*, *bleph* and *eye) to a new keyword "blepharoplasty eyelid"
def kwclean(lemmalist):
    res = None
    if all(list(filter(reg.match, lemmalist)) for reg in [re.compile('.*lid.*'), re.compile('bleph.*'), re.compile('eye.*')]):
        res = ['blepharoplasty', 'eyelid']
        
    return res or lemmalist

In [51]:
# Example of transformation 
kwclean(['eye lid', 'blephariplasty'])

['blepharoplasty', 'eyelid']

In [52]:
dfkeywords['kwcleaned']=dfkeywords['kwlemma'].apply(lambda x: kwclean(x))
dfkeywords['kwclean']=dfkeywords['kwcleaned'].apply(lambda x: ' '.join(x))

In [53]:
dfkeywords=dfkeywords[['id', 'name','kwclean']]
dfkwclean=dfkeywords[['id', 'kwclean']]

# Keyword aggregation for chosen group (patients or doctors)

In [54]:
# Merge keywords with sentiment scores
dfkwsent=pd.merge(left=dftargetedsent, right=dfkwclean, how='left', left_on='keywords_id', right_on='id')
dfkwsent=dfkwsent.drop('id', axis=1)

In [55]:
dfkwsent.head()

,posts_id,keywords_id,sent_score,relevance,sadness_score,joy_score,fear_score,disgust_score,anger_score,label,kwclean
0,1,1,-0.504713,0.645569,0.341329,0.071254,0.316608,0.232325,0.003045,negative,type surgery
1,1,2,0.000000,0.638464,0.159982,0.529674,0.094432,0.052398,0.026757,neutral,regular eye doctor
2,1,3,0.000000,0.629403,0.263028,0.275554,0.262074,0.081493,0.048659,neutral,eye doctor
3,1,4,0.965996,0.603728,0.279632,0.114120,0.182594,0.116771,0.051658,positive,aesthetic appearance eye
4,1,5,0.965996,0.573643,0.167237,0.594232,0.061398,0.018594,0.017416,positive,vision

In [56]:
# Re displaying posts for analysis
dfptposts.head()

,users_id,username,id,threads_id,number,content,date,sent_score,label
0,4,"Sandra M Brown, MD",4,2,1,\n Go to www.aao.org and search for...,2009-11-11 19:42:07,0.000000,neutral
1,4,"Sandra M Brown, MD",6,3,1,\n Your son should be evaluated by ...,2010-03-30 17:07:23,0.860021,positive
2,4,"Sandra M Brown, MD",8,4,1,\n Is it on your eyeBALL or on your...,2010-01-28 08:17:25,-0.864718,negative
3,4,"Sandra M Brown, MD",10,5,1,\n You have ptosis. Obviously ptosi...,2009-11-05 17:03:54,-0.760373,negative
4,4,"Sandra M Brown, MD",12,6,1,\n It sounds like the muscle that m...,2010-09-27 15:34:02,-0.323683,negative

In [57]:
# Join posts, keywords and scores
dfptkw=pd.merge(left=dfptposts[['id','users_id']], right=dfkwsent, how='left', left_on='id', right_on='posts_id')
dfptkw.drop(['id', 'users_id'], axis=1, inplace=True)

In [58]:
# All keyword appearances in posts
len(dfptkw)

758

In [59]:
dfptkw.head()

,posts_id,keywords_id,sent_score,relevance,sadness_score,joy_score,fear_score,disgust_score,anger_score,label,kwclean
0,4.0,31.0,0.0000,0.663188,0.205818,0.056872,0.370259,0.059339,0.110661,neutral,doctor
1,4.0,32.0,0.0000,0.623630,0.205818,0.056872,0.370259,0.059339,0.110661,neutral,wwwaaoorg
2,4.0,13.0,0.0000,0.613217,0.205818,0.056872,0.370259,0.059339,0.110661,neutral,specialist
3,4.0,33.0,0.0000,0.456296,0.205818,0.056872,0.370259,0.059339,0.110661,neutral,oculoplastics
4,6.0,41.0,0.8797,0.927342,0.015091,0.080987,0.104112,0.056071,0.022565,positive,eye md

In [60]:
# Keyword count and scores aggregation
gb = dfptkw.groupby('kwclean')
# INSERT THE SENT/ EMOTION SCORE TO ANALYZE 
# (i.e. sent_score, anger_score, disgust_score, fear_score, joy_score or sadness_socre)
dfsentcalcs=gb['sent_score'].agg([len, np.mean, np.std]).sort_values(by='len', ascending=False)
dfsentcalcs=dfsentcalcs.reset_index()
gb2=dfptkw.groupby(['kwclean', 'label'])
dfsentcat=gb2['label'].agg(len)
dfsentcat=dfsentcat.unstack(level=-1)
dfsentcat=dfsentcat.reset_index() 
dfsentanalysis=pd.merge(left=dfsentcat, right=dfsentcalcs, how='inner', left_on='kwclean', right_on='kwclean').sort_values('len', ascending=False)

In [61]:
# Total number of processed keywords
len(dfsentanalysis)

500

In [62]:
dfsentanalysis.head(250)

,kwclean,negative,neutral,positive,len,mean,std
296,oculoplastics,2.0,12.0,6.0,20.0,0.163794,0.446476
158,eye,14.0,2.0,3.0,19.0,-0.424511,0.576918
307,ophthalmologist,4.0,10.0,1.0,15.0,-0.109299,0.324501
496,wwwaaoorg,NaN,12.0,1.0,13.0,0.055646,0.200635
238,jch md,NaN,12.0,NaN,12.0,0.000000,0.000000
...,...,...,...,...,...,...,...
462,tumor,1.0,NaN,NaN,1.0,-0.858893,NaN
354,procedure result,1.0,NaN,NaN,1.0,-0.904469,NaN
433,tear drainage canal,1.0,NaN,NaN,1.0,-0.330709,NaN
370,referral,1.0,NaN,NaN,1.0,-0.675716,NaN
372,reimbursement,NaN,1.0,NaN,1.0,0.000000,NaN

In [63]:
# INSERT YOUR CSV NAME HERE
dfsentanalysis.to_csv('<YOUR CSV NAME>')